.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 30%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(14, 143, 14, 0.214);
    }

    &.Pending {
      color: goldenrod;
      background-color: rgba(218, 165, 32, 0.219);
    }
  }
}
